@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fundo de tela */
html {
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url("./img/img5.jpg");
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}


/* Menu - Header - Navbar */
header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-items {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-items a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-items a:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

.menu-content .list-items a:hover:before {
   width: 100%;
}


/* Centro - Conteúdo principal */
main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Textos conteúdo principal */
.primary-text {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}


/* Botões */
.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

.btns button:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}